.app {
  background-color: #282c34;
}

.app-container {
  max-width: 1200px;
  padding:  0 15px;
  margin:  0 auto;
}


.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.app-main {
  background-color: #282c34;
  min-height: 90vh;
}